<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/style.css">
    <title>Login</title>
</head>

<body>
    <header class="header">
        <a href="#" class="logo">Absen</a>
        <nav class="navbar">
            <a href="index.html"><i class='bx bx-menu'></i></a>
        </nav>
    </header>
    <main>
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form action="/register" method="post">
                <h1 class="h1logindaftar">Daftar Akun</h1>
                <input type="text" name="name" placeholder="Nama">
                <input type="text" name="nis" placeholder="NIS">
                <select name="jurusan" id="jurusan">
                    <option value="">Jurusan</option>
                    <option value="TKJ">Teknik Komputer & Jaringan</option>
                    <option value="MM">Multimedia</option>
                    <option value="ELIND">Elektronika Industri</option>
                    <option value="TKR">Teknik Kendaraan Ringan</option>
                    <option value="TP">Teknik Permesinan</option>
                    <!-- Tambahkan pilihan jurusan lainnya di sini -->
                </select>
                <select name="kelas" id="kelas">
                    <option value="">Kelas</option>
                </select>
                <input type="password" name="password" id="passwordField" placeholder="Kata Sandi">
               <button type="button" class="show-password-btn" id="show-pswd-btn">Show Password</button>
                <button id="daftarBtn" class="btn">Daftar</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form action="/login" method="post">
                <h1 class="h1logindaftar">Masuk</h1>
                <input type="nis" name="nis" placeholder="NIS">
                <input type="password" name="password" id="passwordFieldLgn" placeholder="Kata Sandi">
                <button type="button" class="show-password-btn" id="show-pswd-btn-login">Show Password</button>
                <a href="#">Lupa Password?</a>
                <button class="btn">Masuk</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Sudah Punya Akun?</h1>
                    <p>Masuk sekarang untuk menggunakan kode.</p>
                    <button class="hidden" id="login">Masuk</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Belum Daftar?</h1>
                    <p>Daftar sekarang untuk mendapatkan kodenya!</p>
                    <button class="hidden" id="register">Daftar</button>
                </div>
            </div>
        </div>
    </div>
    </main>
    <script src="js/script.js"></script>
    <script src="server.js"></script>
</body>

</html>