<!DOCTYPE html>
<html>
<head>
  <title>Message Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Tambahkan meta viewport untuk responsifitas -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <style>

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

    body {
      background-color: #F4CE14;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100vh;
    }

    .centered-card {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999999;
    }

    .card-success,
    .card-error {
      border: none;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      padding: 20px;
      background-color: #F5F7F8;
    }

    .custom-button {
      background-color: #45474B;
      color: white;
      border: none;
      padding: 8px 16px;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
    }

    .custom-button:hover {
      background-color: #171718;
      transition: 0.5s ease;
    }

    /* Tambahkan gaya untuk perangkat seluler */
    @media (max-width: 768px) {
      .card-title {
        font-size: 24px; /* Ukuran font judul */
      }

      .card-body {
        font-size: 18px; /* Ukuran font konten */
      }

      .custom-button {
        padding: 10px 20px; /* Ukuran tombol */
      }
    }
  </style>
</head>
<body>
  <div class="centered-card">
    <div class="card <%= info %>">
      <div class="card-body">
        <h1 class="card-title text-center">Message</h1>
        <div class="py-3"><%= msg %></div>

        <a href="<%= url %>">
          <button class="custom-button">Next</button>
        </a>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
